{% extends "base.html" %} {% block content %} {% if customer %}
<form action="/customerupdate" method="POST">
  <input type="hidden" name="id" value="{{customer[0]}}" />
  {% else %}
  <form action="/customeradd" method="POST">
    {% endif %}
    <table class="table">
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Family Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col"></th>
      </tr>

      <tr>
        <td>{{customer[0]}}</td>
        <td>
          <input
            type="text"
            name="customerfname"
            {%
            if
            customer
            %}
            value="{{customer[1]}}"
            {%
            endif
            %}
            required
          />
        </td>
        <td>
          <input
            type="text"
            name="customersname"
            {%
            if
            customer
            %}
            value="{{customer[2]}}"
            {%
            endif
            %}
            required
          />
        </td>
        <td>
          <input
            type="email"
            name="customeremail"
            {%
            if
            customer
            %}
            value="{{customer[3]}}"
            {%
            endif
            %}
            size="25"
            required
          />
        </td>
        <td>
          <input
            type="tel"
            name="customerphone"
            {%
            if
            customer
            %}
            value="{{customer[4]}}"
            {%
            endif
            %}
            required
          />
        </td>

        <td><input type="submit" /></td>
      </tr>
    </table>
  </form>

  <!-- Link to go back to the search form -->
  <p><a href="/search_customer">Back to Search</a></p>

  {% endblock %}
</form>
