{% extends "base.html" %} {% block content %}
<!-- code in here to display a list of books-->
<h2>Selwyn Campground - Who is camping?</h2>
<h3>Choose the date you'd like view who is camping.</h3>

<form action="{{url_for('campers')}}" method="POST">
  <input type="date" value="{{currentdate}}" name="campdate" />
  <input type="submit" />
</form>

<table class="table">
  <tr>
    <th scope="col">Booking ID</th>
    <th scope="col">Booking Date</th>
    <th scope="col">Site</th>
    <th scope="col">Occupany</th>
    <th scope="col">First Name</th>
    <th scope="col">Family Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
  </tr>
  {% for camper in camperlist %}
  <tr>
    {% for entry in camper %}
    <td>{{entry}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
