<!-- templates/success.html -->
{% extends "base.html" %} {% block content %}
<div class="container mt-0">
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle-fill me-2"></i>
    <div>{{ message }}</div>
  </div>
  <hr />
  {% if phone %}
  <div class="customer-details mt-4">
    <h3 class="mb-3">Customer Details</h3>
    <table class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Family Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ fname }}</td>
          <td>{{ sname }}</td>
          <td>{{ email }}</td>
          <td>{{ phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% elif site_id and booking_date %}
  <div class="booking-details mt-4">
    <h3 class="mb-3">Booking Details</h3>
    <table class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Family Name</th>
          <th scope="col">Site ID</th>
          <th scope="col">Booking Date</th>
          <th scope="col">Booking Nights</th>
          <th scope="col">Occupancy</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ fname }}</td>
          <td>{{ sname }}</td>
          <td>{{ site_id }}</td>
          <td>{{ booking_date }}</td>
          <td>{{ booking_nights }}</td>
          <td>{{ occupancy }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
